<header>
  <section class="wrapper nav-flex">
      <nav class="menu">
         <h1>Recipe's</h1>
      </nav>
      <nav class="navigation">
    <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ADD   RECIPES</a></li>

            <li class="dropdown" onmouseover="hover(this);" onmouseout="out(this);"><a href="#">CATEGORIES
              &nbsp;<i class="fa fa-caret-down"></i></a>
              <div class="dropd">
                <div id="up_arrow"></div>
              <ul>

                <li><a href="#">BREAKFAST</a></li>
                <li><a href="#">LUNCH</a></li>
                <li><a href="#">DINNER</a></li>
                <li><a href="#">DESSERT</a></li>
              </ul>
              </div>
            </li>
            <li><a href="#">ABOUT</a></li>
    </ul>
    <!-- <br> -->
      </nav>
      <nav class="login-area">
          <button class="login"><a href="#">LOGIN</a></button> &nbsp;&nbsp;
          <button class="register"><a href="#">REGISTER</a></button>
      </nav>
  </section>
</header>

<main>
<section class="jumbo">
<h1>what's cooking today?</h1>
<div class="search">
<input type="search" placeholder="find a recipe">
  <button label="FIND">FIND</button>
</div>
</section>

<section class="wrapper product">
  <h2 class="section-name">our delicious collections</h2>
  <article class="card featured">
    <div class="box"><img src="http://img.sndimg.com/food/image/upload/w_614,h_461/v1/img/recipes/36/78/07/picgLdb1z.jpg"></div>
    <header class="card-content">
      <span class="card-category chicken">food category</span>
      <span class="card-header">recipe name</span>
      <span class="card-desc">recipe short description goes here.</span>
    </header>
    <footer class="card-content">
      <div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
      <div class="bookmark"></div>
    </footer>
  </article>
  <article class="card">
    <div class="box"><img src="http://img.sndimg.com/food/image/upload/w_614,h_461/v1/img/recipes/36/78/07/picgLdb1z.jpg"></div>
    <header class="card-content">
      <span class="card-category chicken">food category</span>
      <span class="card-header">recipe name</span>
      <span class="card-desc">recipe short description goes here.</span>
    </header>
    <footer class="card-content">
      <div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
      <div class="bookmark"></div>
    </footer>
  </article>
  <article class="card">
    <div class="box"><img src="http://img.sndimg.com/food/image/upload/w_614,h_461/v1/img/recipes/36/78/07/picgLdb1z.jpg"></div>
    <header class="card-content">
      <span class="card-category chicken">food category</span>
      <span class="card-header">recipe name</span>
      <span class="card-desc">recipe short description goes here.</span>
    </header>
    <footer class="card-content">
      <div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
      <div class="bookmark"></div>
    </footer>
  </article>
  <article class="card">
    <div class="box"><img src="http://img.sndimg.com/food/image/upload/w_614,h_461/v1/img/recipes/36/78/07/picgLdb1z.jpg"></div>
    <header class="card-content">
      <span class="card-category chicken">food category</span>
      <span class="card-header">recipe name</span>
      <span class="card-desc">recipe short description goes here.</span>
    </header>
    <footer class="card-content">
      <div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
      <div class="bookmark"></div>
    </footer>
  </article>
  <article class="card">
    <div class="box"><img src="http://img.sndimg.com/food/image/upload/w_614,h_461/v1/img/recipes/36/78/07/picgLdb1z.jpg"></div>
    <header class="card-content">
      <span class="card-category chicken">food category</span>
      <span class="card-header">recipe name</span>
      <span class="card-desc">recipe short description goes here.</span>
    </header>
    <footer class="card-content">
      <div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
      <div class="bookmark"></div>
    </footer>
  </article>

</section>
</main>

<footer>
<section class="wrapper">
      <nav>
      </nav>
  </section>
</footer>
